/* Apply this style to the container element that needs a scrollbar */
html {
    overflow-y: scroll;
    /* Always show vertical scrollbar */
    scrollbar-width: initial;
    /* Adjust the width of the scrollbar */
}


a.nav-link {
    color: #54ec0e;
    font-size: 18px;
    align-items: center;
    text-decoration: none;
}

.min_height {
    min-height: 60px !important;
    height: 60px !important;
}