.form_search {
    width: 400px;
}

.navbar-nav {
    padding-right: 30px
}

.nav-link {
    margin-left: 10px;
    margin-right: 10px;
}

.logo_photo {
    height: 27px;
}

.navbar-brand {
    scale: 1.3;
    margin-left: 30px;
}

.search_button {
 border-color: #30b83b !important;
 color: #30b83b !important;
}