# Загальні файли розробки
*.pyc
__pycache__/
.idea/
.vscode/
*.ipynb
*.swp

# Віртуальне середовище
venv/
env/

# Статичні файли (потрібно налаштувати)
/static/
/media/  # Ігноруйте медіафайли за замовчуванням. Можливо, вам потрібно внести винятки.

# Файли бази даних
*.db
*.sql
*.sqlite3

# Файли журналу та звіти
*.log
local_settings.py  # Якщо ви використовуєте окремий файл локальних налаштувань

# Файл .env (не зберігається в Git)
.env

# Тестові файли (за бажанням)
/tests/  # Ігноруйте всі тестові файли та папки